:root {
    /* --main-width: 1000px; */
    --padding: 5px;
    --gap: 10px;
    --white: white;
    --grey1: #f2f2f2;
    --grey2: #d8d8d8;
    --grey3: #bdbdbd;
    --grey4: #9f9f9f;
    --grey5: #808080;
    --grey6: #606060;
    --grey7: #424242;
    --grey8: #272727;
    --grey9: #101010;
    --black: black;
}
body {
    font-family: Helvetica, sans-serif;
}
body.light { background-color: var(--white); }
body.night { background-color: var(--black); }

.wrapper {
    display: grid;
    gap: var(--gap);
    grid-template-columns: calc(var(--main-width) + var(--padding)*4 + var(--gap)*2);
    justify-content: center;
}
.outer-box {
    border-radius: 3px;
    padding: var(--padding);
}
body.light .outer-box { color: var(--grey8) }
body.night .outer-box { color: var(--grey1) }

body.light .outer-box { background-color: var(--grey1) }
body.night .outer-box { background-color: var(--grey8) }

/* ========================================================================= */
/* === MAIN MENU =========================================================== */

.header {
}
.menu {
    display: flex;
    gap: 5px;
}
.menu-button-divider {
    display: flex;
    flex-grow: 1;
}
.menu-button {
    display: flex;
    border-radius: 3px;
    font-size: 27px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    bottom: 0px;
    transition: 0.1s;
}
body.light .menu-button { background-color: var(--grey2) }
body.night .menu-button { background-color: var(--grey7) }

.menu-button > a {
    text-decoration: none;
    font-weight: bold;
}
body.light .menu-button > a { color: var(--grey7) }
body.night .menu-button > a { color: var(--grey3) }

.menu-button:hover {
    cursor: pointer;
    bottom: 3px;
}
body.light .menu-button:hover { background-color: var(--grey3); }
body.night .menu-button:hover { background-color: var(--grey6); }

body.light .menu-button.primary-url { background-color: var(--grey7); }
body.night .menu-button.primary-url { background-color: var(--grey3); }

body.light .menu-button:hover > .a-btn { color: var(--grey8); }
body.night .menu-button:hover > .a-btn { color: var(--grey2); }

body.light .menu-button.primary-url > .a-btn { color: var(--grey2); }
body.night .menu-button.primary-url > .a-btn { color: var(--grey9); }


/* ========================================================================= */
/* === DROP-DOWN MENU ====================================================== */


.options-drop-down {
    position: relative;
    display: inline-block;
}

.options-drop-down:hover {
    cursor: default;
    bottom: 0px;
}

.options-drop-down:hover .options-content-hide {
    display: block;
}

.options-drop-down > .options-content-hide {
    display: none;
    position: absolute;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 3px;
    right: 1px;
}

body.light .options-content-hide {
    background-color: var(--grey2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #b1b1b1;
}
body.night .options-content-hide {
    background-color: var(--grey8);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    border: 1px solid white;
}

.options-drop-down .options-content-grid {
    display: grid;
    grid-template-columns: 122px 53px 28px;
    grid-gap: 10px 6px;
}
.options-drop-down .dark-mode-text { grid-column: span 2 }
.options-drop-down .show-stats-bar-text { grid-column: span 2 }
.options-drop-down .show-errors-text { grid-column: span 2 }

.options-drop-down .width-input {
    font-size: 19px;
}
.options-drop-down .text {
    font-size: 23px;
}
.options-drop-down .width-save {
    font-size: 18px;
    padding: 0px 0px;
}
.options-drop-down .text {
    white-space: nowrap;
    font-weight: bold;
}
.options-drop-down .checkbox {
    transform: scale(1.2);
}




/* === SLIDERS ============================================================= */

/* .switch { */
/*   position: relative; */
/*   display: inline-block; */
/*   width: 60px; */
/*   height: 34px; */
/* } */
/*  */
/* .switch input { */
/*   opacity: 0; */
/*   width: 0; */
/*   height: 0; */
/* } */
/*  */
/* .slider { */
/*   position: absolute; */
/*   cursor: pointer; */
/*   top: 0; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   background-color: #ccc; */
/*   -webkit-transition: .4s; */
/*   transition: .4s; */
/* } */
/*  */
/* .slider:before { */
/*   position: absolute; */
/*   content: ""; */
/*   height: 26px; */
/*   width: 26px; */
/*   left: 4px; */
/*   bottom: 4px; */
/*   background-color: white; */
/*   -webkit-transition: .4s; */
/*   transition: .4s; */
/* } */
/*  */
/* input:checked + .slider { */
/*   background-color: #2196F3; */
/* } */
/*  */
/* input:focus + .slider { */
/*   box-shadow: 0 0 1px #2196F3; */
/* } */
/*  */
/* input:checked + .slider:before { */
/*   -webkit-transform: translateX(26px); */
/*   -ms-transform: translateX(26px); */
/*   transform: translateX(26px); */
/* } */
/*  */
/* .slider.round { */
/*   border-radius: 34px; */
/* } */
/*  */
/* .slider.round:before { */
/*   border-radius: 50%; */
/* } */

